pipeline/Get Metadata.json
{
	"name": "Get Metadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adls_adf_source",
						"type": "DatasetReference",
						"parameters": {
							"source_container_par": {
								"value": "@variables('source_container_var')",
								"type": "Expression"
							},
							"source_folder_par": {
								"value": "@variables('source_folder_var')",
								"type": "Expression"
							},
							"source_file_par": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Foreach adf source files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition for files",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name, '-10')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy from source to dest",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "adls_adf_source",
												"type": "DatasetReference",
												"parameters": {
													"source_container_par": {
														"value": "@variables('source_container_var')",
														"type": "Expression"
													},
													"source_folder_par": {
														"value": "@variables('source_folder_var')",
														"type": "Expression"
													},
													"source_file_par": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "adls_adf_dest",
												"type": "DatasetReference",
												"parameters": {
													"dest_container_par": {
														"value": "@variables('dest_container_var')",
														"type": "Expression"
													},
													"dest_folder_par": {
														"value": "@variables('dest_folder_var')",
														"type": "Expression"
													},
													"dest_file_par": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Data Transform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DFsource": {
								"dest_container_par": {
									"value": "@variables('dest_container_var')",
									"type": "Expression"
								},
								"dest_folder_par": {
									"value": "@variables('dest_folder_var')",
									"type": "Expression"
								},
								"dest_file_par": {
									"value": "@variables('dest_file_var')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Foreach adf source files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dest_file_var",
					"value": "''"
				}
			}
		],
		"variables": {
			"source_container_var": {
				"type": "String",
				"defaultValue": "adf-source"
			},
			"source_folder_var": {
				"type": "String",
				"defaultValue": "sales-data"
			},
			"dest_container_var": {
				"type": "String",
				"defaultValue": "adf-dest"
			},
			"dest_folder_var": {
				"type": "String",
				"defaultValue": "webdata"
			},
			"dest_file_var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-27T11:12:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}