pipeline/shopify data ingestion pipeline.json
{
	"name": "shopify data ingestion pipeline",
	"properties": {
		"activities": [
			{
				"name": "Fetch All Tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('shopify_tables')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set folder_name variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "folder_name",
								"value": {
									"value": "@replace(split(item(), '.')[1], '\"', '')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to adls gen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set folder_name variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ShopifySource"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "shopify_dataset",
									"type": "DatasetReference",
									"parameters": {
										"current_shopify_table": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "shopify_adls",
									"type": "DatasetReference",
									"parameters": {
										"shopify_adls_folder": {
											"value": "@variables('folder_name')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"shopify_tables": {
				"type": "Array",
				"defaultValue": [
					"\"Shopify\".\"GiftCard\"",
					"\"Shopify\".\"InventoryItem\"",
					"\"Shopify\".\"InventoryLevel\""
				]
			},
			"folder_name": {
				"type": "String",
				"defaultValue": " "
			}
		},
		"annotations": []
	}
}