pipeline/shopify data ingestion pipeline.json
{
	"name": "shopify data ingestion pipeline",
	"properties": {
		"activities": [
			{
				"name": "Fetch All Tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('shopify_tables')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set folder_name variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "folder_name",
								"value": {
									"value": "@replace(split(item(), '.')[1], '\"', '')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to adls gen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set folder_name variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ShopifySource"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "shopify_dataset",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"shopify_tables": {
				"type": "Array",
				"defaultValue": [
					"[   '\"Shopify\".\"Abandoned_Checkout_Discount_Codes\"',   '\"Shopify\".\"Abandoned_Checkout_Line_Items\"',   '\"Shopify\".\"Abandoned_Checkout_Note_Attributes\"',   '\"Shopify\".\"Abandoned_Checkout_Shipping_Lines\"',   '\"Shopify\".\"Abandoned_Checkout_Tax_Lines\"',   '\"Shopify\".\"Abandoned_Checkouts\"',   '\"Shopify\".\"AccessScope\"',   '\"Shopify\".\"Application_Charges\"',   '\"Shopify\".\"Application_Credits\"',   '\"Shopify\".\"ArticleTags\"',   '\"Shopify\".\"Articles\"',   '\"Shopify\".\"Assets\"',   '\"Shopify\".\"Author_Parent\"',   '\"Shopify\".\"Authors\"',   '\"Shopify\".\"Balance\"',   '\"Shopify\".\"Blog_Metafields\"',   '\"Shopify\".\"Blogs\"',   '\"Shopify\".\"Blogs_Count\"',   '\"Shopify\".\"Carrier_Services\"',   '\"Shopify\".\"Collects\"',   '\"Shopify\".\"Collections\"',   '\"Shopify\".\"Comments\"',   '\"Shopify\".\"Countries\"',   '\"Shopify\".\"CountryHarmonizedSystemCodes\"',   '\"Shopify\".\"Currencies\"',   '\"Shopify\".\"Custom_Collection_Metafields\"',   '\"Shopify\".\"Custom_Collections\"',   '\"Shopify\".\"Customer_Addresses\"',   '\"Shopify\".\"Customer_Metafields\"',   '\"Shopify\".\"Customer_Saved_Searches\"',   '\"Shopify\".\"Customer_Tax_Exemptions\"',   '\"Shopify\".\"Customers\"',   '\"Shopify\".\"Discount_Codes\"',   '\"Shopify\".\"Duties\"',   '\"Shopify\".\"Events\"',   '\"Shopify\".\"Fulfillment_Events\"',   '\"Shopify\".\"Fulfillment_Line_Item_Duties\"',   '\"Shopify\".\"Fulfillment_Line_Item_Duties_Tax_Lines\"',   '\"Shopify\".\"Fulfillment_Line_Item_Properties\"',   '\"Shopify\".\"Fulfillment_Line_Item_Tax_Lines\"',   '\"Shopify\".\"Fulfillment_Line_Items\"',   '\"Shopify\".\"Fulfillment_Orders\"',   '\"Shopify\".\"Fulfillment_Services\"',   '\"Shopify\".\"Fulfillment_Tracking_Numbers\"',   '\"Shopify\".\"Fulfillment_Tracking_URLs\"',   '\"Shopify\".\"Fulfillments\"',   '\"Shopify\".\"Inventory_Items\"',   '\"Shopify\".\"Inventory_Levels\"',   '\"Shopify\".\"Locations\"',   '\"Shopify\".\"Marketing_Events\"',   '\"Shopify\".\"Marketing_Events_Marketed_Resources\"',   '\"Shopify\".\"Order_Discount_Codes\"',   '\"Shopify\".\"Order_Fulfillment_Line_Item_Duties\"',   '\"Shopify\".\"Order_Fulfillment_Line_Item_Duties_Tax_Lines\"',   '\"Shopify\".\"Order_Fulfillment_Line_Item_Properties\"',   '\"Shopify\".\"Order_Fulfillment_Line_Item_Tax_Lines\"',   '\"Shopify\".\"Order_Line_Items\"',   '\"Shopify\".\"Order_Metafields\"',   '\"Shopify\".\"Order_Note_Attributes\"',   '\"Shopify\".\"Order_Payment_Gateway_Names\"',   '\"Shopify\".\"Order_Risks\"',   '\"Shopify\".\"Order_Shipping_Lines\"',   '\"Shopify\".\"Order_Tax_Lines\"',   '\"Shopify\".\"Orders\"',   '\"Shopify\".\"Policies\"',   '\"Shopify\".\"Price_Rules\"',   '\"Shopify\".\"Product_Images\"',   '\"Shopify\".\"Product_Images_Variant_Ids\"',   '\"Shopify\".\"Product_Metafields\"',   '\"Shopify\".\"Product_Option_Values\"',   '\"Shopify\".\"Product_Options\"',   '\"Shopify\".\"Product_Variant_Metafields\"',   '\"Shopify\".\"Product_Variants\"',   '\"Shopify\".\"Products\"',   '\"Shopify\".\"Provinces\"',   '\"Shopify\".\"Recurring_Application_Charges\"',   '\"Shopify\".\"Redirects\"',   '\"Shopify\".\"Refund_Duties\"',   '\"Shopify\".\"Refund_Duty_Properties\"',   '\"Shopify\".\"Refund_Line_Item_Tax_Lines\"',   '\"Shopify\".\"Refund_Line_Items\"',   '\"Shopify\".\"Refund_Order_Adjustments\"',   '\"Shopify\".\"Refund_Transactions\"',   '\"Shopify\".\"Refunds\"',   '\"Shopify\".\"Reports\"',   '\"Shopify\".\"Resource_Feedback\"',   '\"Shopify\".\"Script_Tags\"',   '\"Shopify\".\"Shipping_Zone_Carrier_Shipping_Rate_Providers\"',   '\"Shopify\".\"Shipping_Zone_Countries\"',   '\"Shopify\".\"Shipping_Zone_Country_Provinces\"',   '\"Shopify\".\"Shipping_Zone_Price_Based_Shipping_Rates\"',   '\"Shopify\".\"Shipping_Zone_Weight_Based_Shipping_Rates\"',   '\"Shopify\".\"Shipping_Zones\"',   '\"Shopify\".\"Shop\"',   '\"Shopify\".\"Shop_Metafields\"',   '\"Shopify\".\"Smart_Collection_Rules\"',   '\"Shopify\".\"Smart_Collections\"',   '\"Shopify\".\"Tender_Transaction\"',   '\"Shopify\".\"Themes\"',   '\"Shopify\".\"Transactions\"',   '\"Shopify\".\"Usage_Charge\"',   '\"Shopify\".\"User_Permissions\"',   '\"Shopify\".\"Webhook_Fields\"',   '\"Shopify\".\"Webhook_Metafield_Namespaces\"',   '\"Shopify\".\"Webhooks\"' ]"
				]
			},
			"folder_name": {
				"type": "String",
				"defaultValue": " "
			}
		},
		"annotations": []
	}
}